App=
REPO=

container_pg_name=
image_name_db=
# postgres_user=postgres
postgres_password=
# postgres_db=root
postgres_build=
local_pgdata=
pgdata=

container_pgadmin_name=
image_name_admin=
pgadmin_default_email=
pgadmin_default_password=
local_pgadmin_data=
pgadmin_data=

container_pentaho_name=
pentaho_build=
pentaho_user=
pentaho_password=
